@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

html{scroll-behavior:smooth}

$font-body: "Roboto", sans-serif;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-large: 30px;

$font-weight-normal: 300;
$font-weight-medium: 500;
$font-weight-large: 900;

$color-primary: #1b191a;
$color-secondary: #b5b5b5;
$color-black: #333333;
$color-white: #fafafa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-body;
  color: $color-black;
}

:link,
a:visited {
  text-decoration: none;
}
