/*---NAVIGATION STYLING---*/

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  /*border: 1px solid red;*/
  background-color: $color-primary;
  padding: 20px;
  box-shadow: 0px 1px 5px $color-black;
}

.logo {
  color: $color-white;
  font-size: $font-size-normal;
  font-weight: $font-weight-large;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*border: 1px solid red;*/

  &__projects {
    color: $color-secondary;
    margin: 0px 10px;
    font-size: $font-size-normal;
  }
  &__skills {
    color: $color-secondary;
    margin: 0px 20px;
    font-size: $font-size-normal;
  }
  &__about {
    color: $color-secondary;
    margin: 0px 20px;
    font-size: $font-size-normal;
  }
  &__contact {
    color: $color-secondary;
    margin: 0px 20px;
    font-size: $font-size-normal;
  }
}
.nav-fade:hover {
  transition: 0.3s ease-in-out;
  color: $color-white;
}

i {
  color: $color-white;
  font-size: 25px;
  margin: 5px;
}

/*---HEADER STYLING---*/

.header-spacer {
  width: 100%;
  height: 7vh;
  background-color: $color-primary;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;

  #header-image {
    width: 100%;
    height: 120vh;
  }
  #header-text {
    position: absolute;
    top: 125px;
    left: 25px;
  }
  #header-title {
    font-weight: $font-weight-large;
    font-size: $font-size-large;
    padding-bottom: 15px;
    color: $color-white;
    letter-spacing: 0.1rem;
  }
  #header-message {
    font-size: $font-size-normal;
    font-weight: $font-weight-normal;
    color: $color-secondary;
    width: 40%;
    letter-spacing: 0.05em;
    line-height: 1.6;
  }
}

/*---PROJECTS---*/

.project-heading {
  font-size: $font-size-large;
  font-weight: $font-weight-large;
  color: $color-white;
  margin-bottom: 100px;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: column;
}

.card {
  height: 250px;
  width: 400px;
  padding: 15px;
}

.project-image {
  height: 100%;
  width: 100%;
  object-fit: fill;
  opacity: 0.5;
}

.img-fade-in:hover {
  transition: 0.3s ease-in-out;
  opacity: 1;
}

/*---TECH STACK---*/

.article-title {
  font-size: $font-size-large;
  font-weight: $font-weight-large;
  color: $color-white;
}

.tech-stack-article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  color: $color-white;
}

.tech-icon {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  padding: 100px;

  &__tech-title {
    color: $color-white;
    font-size: $font-size-normal;
  }

  .fa-brands {
    font-size: $font-size-large;
  }
}

/*---CONTACT---*/

.contact-heading {
  font-size: $font-size-large;
  font-weight: $font-weight-large;
  color: $color-white;
  margin-bottom: 15px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}