.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    border: 1px solid red;
    background-color: $color-primary;
    padding: 20px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid red;
    
    &__projects {
        color: $color-white;
        margin: 0px 10px;
        font-size: 16px;
    }
    &__skills {
        color: $color-white;
        margin: 0px 10px;
        font-size: 16px;
    }
    &__about {
        color: $color-white;
        margin: 0px 10px;
        font-size: 16px;
    }
    &__contact {
        color: $color-white;
        margin: 0px 10px;
        font-size: 16px;
    }
}