/*---NAVIGATION STYLING---*/

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  /*border: 1px solid red;*/
  background-color: $color-primary;
  padding: 20px;
  box-shadow: 0px 1px 5px $color-black;

  .navbar__logo {
    color: $color-white;
    font-size: $font-size-normal;
    font-weight: $font-weight-large;
  }

  .navbar__nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border: 1px solid red;*/

    .navbar__nav-link {
      color: $color-secondary;
      margin: 0px 20px;
      font-size: $font-weight-normal;
    }

    .navbar__nav-link_fade:hover {
      transition: 0.3s ease-in-out;
      color: $color-white;
    }
  }

  .navbar__icon {
    color: $color-white;
    font-size: 25px;
    margin: 5px;
  }

  @media screen and (max-width: 800px) {
    &__icon-links {
      display: none;
    }
  }
}

// i {
//   color: $color-white;
//   font-size: 25px;
//   margin: 5px;
// }

/*---HEADER STYLING---*/

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: $color-primary;
  height: 145vh;

  .header__landing-image {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    .header {
      height: 80vh;
    }
  }

  #header__text {
    position: absolute;
    top: 125px;
    left: 25px;
  }
  #header__title {
    font-weight: $font-weight-large;
    font-size: $font-size-large;
    padding-bottom: 15px;
    color: $color-white;
    letter-spacing: 0.1rem;
  }
  #header__message {
    font-size: $font-size-normal;
    font-weight: $font-weight-normal;
    color: $color-secondary;
    width: 40%;
    letter-spacing: 0.05em;
    line-height: 1.6;
  }
}

/*---PROJECTS---*/

.portfolio__heading {
  font-size: $font-size-large;
  font-weight: $font-weight-large;
  color: $color-white;
  //margin-bottom: 25px;
}

.portfolio__projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;

  @media screen and (max-width: 1250px) {
    .projects-container {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 800px) {
    .portfolio__projects-container {
      grid-template-columns: 1fr;
    }
    .portfolio {
      height: 2500px;
    }
  }

  .portfolio__project {
    display: flex;
    flex-direction: column;
  
    .portfolio__card {
      height: 250px;
      width: 400px;
      padding: 25px;
      margin-bottom: 75px;
  
      .portfolio__image {
        height: 100%;
        width: 100%;
        object-fit: fill;
        opacity: 0.5;
      }
  
      .portfolio__image_fade-in:hover {
        transition: 0.3s ease-in-out;
        opacity: 1;
      }
  
      .portfolio__project-description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
      
        .portfolio__project-title {
          color: $color-white;
        }
  
        .portfolio__icon-link {
          display: flex;
          align-items: center;
        }
  
        .portfolio__icon_color {
          color: $color-secondary;
        }
        
        .portfolio__icon_color:hover {
          color: $color-white;
        }
        
        .portfolio__icon-text {
          font-size: $font-size-small;
          color: $color-secondary;
          padding-left: 10px;
        }
      }
    }
  }
}

/*---TECH STACK---*/

.article-title {
  font-size: $font-size-large;
  font-weight: $font-weight-large;
  color: $color-white;
}

.tech-stack-article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  color: $color-white;
}

@media screen and (max-width: 1250px) {
  .tech-stack-article {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.tech-icon {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  padding: 100px;

  .fa-brands {
    font-size: $font-size-large;
  }
}
.tech-title {
  color: $color-white;
  font-size: $font-size-normal;
  opacity: 0;
  transition: 0.5s;
}

.tech-icon:hover .tech-title {
  opacity: 1;
}

/*---CONTACT---*/

.contact-chat {
  font-size: $font-size-large;
  font-weight: $font-weight-large;
  color: $color-white;
  margin-bottom: 50px;
}

.contact-heading {
  font-size: $font-size-normal;
  font-weight: $font-weight-large;
  color: $color-white;
  margin-bottom: 50px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1250px) {
  .contact-section {
    height: 500px;
  }
}
